.Weather {
  margin-top: 20px;
}
.Weather h1 {
  font-size: 40px;
  font-weight: bold;
}
.Weather h2 {
  font-size: 20px;
}
.Weather h3 {
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}
.Weather p {
  font-size: 20px;
}
.Weather button {
  color: #ffffff;
  border: none;
  background: none;
  font-size: 20px;
}
.Weather hr {
  max-width: 150px;
}
.Weather .current-weather {
  margin: 15px auto;
}
